@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fixTableHead {
  overflow-y: auto;
  height: 110px;
}

.fixTableHead thead th {
  position: sticky;
  top: 0;
}

.bg-img {
  background-image: url('/img/bg-login.png')
}

@media only screen and (max-width: 768px) {

  .bg-img-mobile {
    background-image: url('/img/bg-login-mobile.svg');
    background-repeat: no-repeat, repeat;
    width: auto;

  }

}

.bg-img-mobile {
  background-image: url('/img/bg-img-ipad.svg');
  background-repeat: no-repeat, repeat;
  width: auto;

}

.icon-exclamation {
  background-image: url('/icon/exclamation.svg');
  background-repeat: no-repeat, repeat;
  height: 30px;
}

.border-orange-300 {
  border-color: #fdba74;
  border-right-width: 2px;
}

.bg-orange-200 {
  background-color: #fed7aa;
}

.text-orange-800 {
  color: #9a3412;
}

.canvas-container {
  height: 70% !important;
  width: 70% !important;
}

.bg-color-f-1 {
  background-color: #004AAD;
}

.bg-color-f-2 {
  background-color: #0079AD;
}

.bg-color-f-3 {
  background-color: #14C9D4;
}

.bg-color-f-4 {
  background-color: #7AEFF6;
}

.text-color-f-1 {
  color: #004AAD;
}

.text-color-f-2 {
  color: #0079AD;
}

.text-color-f-3 {
  color: #14C9D4;
}

.text-color-f-4 {
  color: #7AEFF6;
}

/* Toggle A */
input:checked~.dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

/* Toggle B */
input:checked~.dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.bg-color-blue {
  background-color: #004AAD;
}

.text-color-blue {
  color: #004AAD;
}

.h-600px {
  height: 600px !important;
}

input:checked~.radio {
  color: white;
  background-color: #004AAD;
}

input~.radio {
  color: #004AAD;
  /* background-color: white; */
  border: 2px solid;
  border-color: #004AAD;

}

.icon_check {
  text-align: -webkit-center !important;
}

.icon_uncheck {
  text-align: -webkit-center !important;
}

@media (min-width: 640px) {}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100% !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.timeline {
  display: flex;
  clear: both;
}

.border_timeline {
  overflow-x: auto;
  border: 2px solid #2563eb;
  width: 100%;
  border-radius: 5px;
  overflow-y: none;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button__check {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: rgb(2, 175, 2);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-button__uncheck {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon_font {
  font-size: 14px;
}
.a4 {
  width: 210mm !important;
  height: 303mm !important;
  margin: auto !important;
  font-size: 14px;
}

.a4land {
  width: 302mm !important;
  height: 206mm !important;
  margin: auto !important;
  font-size: 14px;
}
@media print {
  @page {
    size: A4;
  }

  .section {
    height: 100%;
    margin: 0px;
  }

  .print-none,
  .m_none {
    display: none !important;
  }

  #main {
    margin-left: unset !important;
    width: 100%;

  }

  .nav-print {
    position: absolute !important;
    left: -1000px;

  }
}

































/* slidshow */




/* .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked+.slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("https://source.unsplash.com/t7YycgAoVSw/1600x900");
}

.slide-2 {
  background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
}

.slide-3 {
  background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
} */